.add-todo {
  display: flex;
  border-radius: 5px;
  overflow: hidden;

  &_input {
    flex: 1;
    border: 2px solid #3a7bd5;
    padding: 20px 20px;
    font-size: 18px;

    input {
      width: 100%;
    }
  }

  &_btn {
    padding: 25px;
    cursor: pointer;
    background-color: #3a7bd5;
    transition: all 0.5s ease;

    i {
      color: white;
    }

    &:hover {
      background-color: #1655ac;
    }
  }
}
